In [1]:
import keras_ocr
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
pipeline = keras_ocr.pipeline.Pipeline()

Looking for C:\Users\anask\.keras-ocr\craft_mlt_25k.h5
Looking for C:\Users\anask\.keras-ocr\crnn_kurapan.h5

In [7]:
results = pipeline.recognize([r'first_page4.png'])

1/1 [==============================] - 11s 11s/step
10/10 [==============================] - 17s 2s/step

In [9]:
df = pd.DataFrame(results[0], columns=['text', 'bbox'])
df[:10]

       text                                               bbox
0       sbi  [[238.17392, 119.794785], [428.644, 123.604195...
1  lakhotia  [[724.0849, 264.96484], [847.4306, 264.96484],...
2   account  [[100.50391, 267.24902], [191.8711, 267.24902]...
3      name  [[198.72363, 267.24902], [264.96484, 267.24902...
4        mr  [[395.1631, 267.24902], [440.84668, 267.24902]...
5   shubham  [[445.41504, 267.24902], [573.3291, 267.24902]...
6  rajkumar  [[577.89746, 267.24902], [717.2324, 267.24902]...
7   address  [[100.50391, 340.34277], [191.8711, 340.34277]...
8    f16068  [[392.8789, 340.34277], [479.67773, 340.34277]...
9   station  [[484.2461, 340.34277], [593.8867, 340.34277],...